// Global

$color-background: #f0f2f5;
$color-cards: #ffffff;
$color-green: #49aa26;
$color-light-green: #3dd705;
$color-dark-blue: #363f5f;
$color-red: #e92929;
$color-font: #000000;
$color-font-table: #969cb3;
$color-green-table: #12a454;

:root {
  --background: #{$color-background};
  --cards: #{$color-cards};
  --dark-blue: #{$color-dark-blue};
  --green: #{$color-green};
  --light-green: #{$color-light-green};
  --red: #{$color-red};
  --font: #{$color-font};
  --font-table: #{$color-font-table};
  --green-table: #{$color-green-table};
}

.dark-theme {
  --background: #222222;
  --cards: #343434;
  --red: #ff3737;
  --dark-blue: #ffffff;
  --font: #ffffff;
  --font-table: #ffffff;
  --green-table: #0de56f;
  --green: #3e8d21;
  --light-green: #2c6417;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  width: min(90vw, 800px);
  margin: 0 auto;
}

// Title

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
  font-weight: normal;
}

// Links and Buttons

a {
  color: var(--green);
  text-decoration: none;
  &:hover {
    color: var(--light-green);
  }
}

button {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 0.25rem;
  color: var(--font);
  background-color: var(--green);
  padding: 0;
  cursor: pointer;
  &:hover {
    background: var(--light-green);
  }
}

button.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.button.cancel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: var(--red);
  border: 2px solid var(--red);
  border-radius: 0.25rem;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

.btn-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 50px;
  border: none;
  border-radius: 0.25rem;
  color: var(--font);
  background-color: var(--green);
  padding: 0;
  &:hover {
    color: var(--font);
    background: var(--light-green);
  }
}

// Header

header {
  background: #2d4a22;
  padding: 2rem 0 10rem;
  text-align: center;
  #logo {
    font-weight: 100;
    color: var(--font);
  }
}

// Check Dark Mode

.check-dark-mode {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 9999;
  span {
    font-size: 0.6rem;
    color: #fff;
  }
  #switch {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 21px;
    background: var(--background);
    margin: 0 auto;
    border-radius: 100px;
    cursor: pointer;
    text-indent: -9999px;
  }
  label:after {
    content: "";
    background: var(--font);
    position: absolute;
    top: 3px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: 0.3s;
  }
  input:checked + label {
    background: var(--background);
  }
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
}

// Balance

#balance {
  margin-top: -8rem;
  h2 {
    color: var(--font);
    margin-top: 0;
  }
}

// Cards

.card {
  background: var(--cards);
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  color: var(--dark-blue);
  h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: normal;
  }
  p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
  }
}

.card.total {
  background: var(--green);
  color: #fff;
}

// Table

#transaction {
  display: block;
  overflow-x: auto;
  width: 100%;
}

#search{
  font-family: "Poppins", sans-serif;
  width: 100%;
  color: var(--font);
  background: var(--cards);
  border: none;
  border-radius: .25rem;
  padding: 1rem 2rem;
  outline: none;
}

#data-table {
  width: 100%;
  border-spacing: 0 0.5rem;
  color: var(--font-table);
  thead tr th:first-child,
  tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
  }
  thead tr th:last-child,
  tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
  }
  thead th {
    font-weight: normal;
    text-align: left;
    background: var(--cards);
    padding: 1rem 2rem;
  }
  tbody tr {
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  tbody td {
    background: var(--cards);
    padding: 1rem 2rem;
  }
  td.description {
    color: var(--dark-blue);
  }
  td.income {
    color: var(--green-table);
  }
  td.expense {
    color: var(--red);
  }
  td .remove-icon {
    cursor: pointer;
  }
  .not-found{
    padding: 1rem 2rem;
  }
}

// Modal

.modal-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  .modal {
    position: relative;
    background-color: var(--background);
    padding: 2.4rem;
    margin: 0 10px;
  }
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

// Alert

.modal-overlay-alert {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  .modal-alert {
    position: relative;
    background-color: var(--background);
    padding: 2.4rem;
    margin: 0 10px;
  }
}

.modal-overlay-alert.active {
  opacity: 1;
  visibility: visible;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

// Form

#form {
  max-width: 500px;
  h2 {
    margin-top: 0;
  }
  input {
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    background: var(--cards);
    color: var(--font);
  }
  .input-group {
    margin-top: 0.8rem;
    .help {
      color: var(--font);
      opacity: 0.4;
    }
  }
  .input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button,
    .button {
      width: 48%;
    }
  }
}

// Footer

footer {
  text-align: center;
  padding: 4rem 0 2rem;
  color: var(--dark-blue);
  opacity: 0.6;
}

// Responsive

@media (min-width: 800px) {
  html {
    font-size: 87.5%;
  }
  #balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .check-dark-mode {
    top: 10px;
    right: 30px;
    span {
      font-size: 0.8rem;
    }
  }
}
